<footer class="mt-auto">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#" class="text-decoration-none me-3"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a href="#" class="text-decoration-none me-3"><i class="fa-brands fa-facebook fa-lg"></i></a>
            <a href="#" class="text-decoration-none me-3"><i class="fa-brands fa-google fa-lg"></i></a>
            <a href="#" class="text-decoration-none me-3"><i class="fa-brands fa-discord fa-lg"></i></a>
            <a href="#" class="text-decoration-none"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
        </div>
        <div class="company"> &copy; StayNest Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" class="me-3">Privacy</a>
            <a href="/terms">Terms and Conditions</a>
        </div>
    </div>
</footer>